{% macro card2() -%}

<h1 style="margin-top: 100px ;">WELCOME SUMMER</h1>      
  <div class="container">
    <div class="row text-center same-height-block">
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mt-5">
        <img class="img-fluid" src="Images\\image.jpg"/>
        <h5>Kingfisher Shores</h5>
      </div>
     <div class="col-12 col-sm-6 col-md-4 col-lg-2 mt-5">
       <img class="img-fluid" src="Images\\9.jpg" />
       <h5>France</h5>
     </div>
     <div class="col-12 col-sm-6 col-md-4 col-lg-2 mt-5">
      <img class="img-fluid" src="Images\\n.jpg" />
      <h5>White Tiger Island</h5>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mt-5">
      <img class="img-fluid" src="Images\\a.jpg" />
      <h5>Germany</h5>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mt-5">
      <img class="img-fluid" src="Images\\source.jpeg" />
      <h5>Philippines</h5>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mt-5">
      <img class="img-fluid" src="Images\\6.png" />
      <h5>London</h5>
    </div>
    </div>
  </div>

     
  <div class="container">
    <div class="row text-center same-height-block">
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mt-5">
        <img class="img-fluid" src="Images\\image.jpg"/>
        <h5>Kingfisher Shores</h5>
      </div>
     <div class="col-12 col-sm-6 col-md-4 col-lg-2 mt-5">
       <img class="img-fluid" src="Images\\9.jpg" />
       <h5>France</h5>
     </div>
     <div class="col-12 col-sm-6 col-md-4 col-lg-2 mt-5">
      <img class="img-fluid" src="Images\\n.jpg" />
      <h5>White Tiger Island</h5>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mt-5">
      <img class="img-fluid" src="Images\\a.jpg" />
      <h5>Germany</h5>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mt-5">
      <img class="img-fluid" src="Images\\source.jpeg" />
      <h5>Philippines</h5>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mt-5">
      <img class="img-fluid" src="Images\\6.png" />
      <h5>London</h5>
    </div>
    </div>
  </div>


  {%- endmacro %}